@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
.btn-primary {
    background: -moz-linear-gradient(194deg, #00c9e4 0%, #007bff 100%);
    /* ff3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, #007bff),
        color-stop(100%, #00c9e4)
    );
}

* {
    font-family: "avenir", sans-serif;
}
.ck-editor-mode ul {
    list-style: none;
    padding-left: 10px;
}

.ck-editor__editable a {
  color: #007bff !important;
  text-decoration: underline;
}

.prose a,
.blog-content a {
  color: #007bff !important;
  text-decoration: underline;
}


.prose a,
.blog-content a {
  color: #007bff !important;
  text-decoration: underline;
}

.ck-editor-mode ul li a {
    color: #007bff;
    text-decoration: none;
}

.ck-editor-mode ul li a:hover {
    text-decoration: underline;
}

.ck-editor-mode ul li a:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.ck-editor-mode ul li a:active {
    color: #0056b3;
    text-decoration: none;
}

.ck-editor-mode a {
    color: #007bff;
    text-decoration: none;
}

.ck-editor-mode a:hover {
    text-decoration: underline;
}

.ck-editor-mode b {
    font-weight: 700;
}

.ck-editor-content ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }
  
  .ck-editor-content ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  .ck-editor-mode ul,
.prose ul,
.blog-content ul,
.ck-editor-content ul {
    list-style-type: disc !important;
    padding-left: 1.5em !important;
}

.ck-editor-mode ol,
.prose ol,
.blog-content ol,
.ck-editor-content ol {
    list-style-type: decimal !important;
    padding-left: 1.5em !important;
}

  .scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.checkbox-white {
  accent-color: #108cc6;

  /* warna biru sky-500, tetap pakai ini untuk background */
}




  .ck-editor-mode ul,
.prose ul,
.blog-content ul,
.ck-editor-content ul {
    list-style-type: disc !important;
    padding-left: 1.5em !important;
}

.ck-editor-mode ol,
.prose ol,
.blog-content ol,
.ck-editor-content ol {
    list-style-type: decimal !important;
    padding-left: 1.5em !important;
}

  .scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.checkbox-white {
  accent-color: #108cc6;

  /* warna biru sky-500, tetap pakai ini untuk background */
}


